backup/
classe/backup
lib/
temp/
*.dbg
*.exe
/lib/
/bin/
/backup/
/temp/
/tmp/
/debug/
/release/
.codex
.gitattributes
fluxocaixa_dbg
fluxocaixa_dbg.dbg
fluxocaixa.exe
fluxocaixa_linux
.vscode/
/.vscode/